
body {
    margin: 0;
}
#page {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px;
    height: 738px;
}
#top_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px;
    /*note: height of top_bar is 70px + height of game 620 + height of footer_bar 48 is equal to total page height of 738*/
    height: 70px;
    background-color: #369;
    color: #fff;
}
#game {
    position: absolute;
    left: 0;
    top: 70;
    width: 1000px;
    height: 620px;
    background-color: #fff;
    clip: auto;
    /*overflow set to hidden so that bubbles in game will never accidently display over top_bar or footer_bar*/
    overflow: hidden;
}
#footer_bar{
    position: absolute;
    left: 0;
    top: 690;
    width: 1000px;
    height: 48px;
    background-color: #369;
}
